# Виртуальные окружения
.venv/
venv/
env/

# Файлы с токенами и паролями — НИКОГДА не загружать на GitHub!
.env
*.env

# База данных
*.db
*.sqlite3

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Файлы IDE
.vscode/
.idea/
*.swp

# Логи
*.log
